/*! This is global css rules! make sure to include this global template everywhere! */




/*   *Fonts Classes! */
.SC{
    font-family: "Space Grotesk", sans-serif;
}
.SCP{
    font-family: "Source Code Pro", monospace;
}
.POP{
    font-family: "Poppins", sans-serif;
}
.VT{
    font-family: "VT323", monospace;
}
.HJ{
    font-family: "Handjet", system-ui;
}
.BAR{
    font-family: "Libre Barcode 128", system-ui;
}